<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nimi %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nickname , 'Snapchat tunnus' %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
	  <%= f.label :locations_id , 'Paikkakunta' %><br>
	  <%= f.collection_select :locations_id, Location.all,  :id, :name, {promt: "Valitse paikkakunta"} %>
  </div>
   <div class="field">
	 <%= f.label :image, 'Profiilikuva' %>
	 <%= f.file_field :image %>
	 <%= f.cropbox :image, width: 400, height: 400 %>
	 <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
	<%= f.label :image, 'Snapchat koodi' %>
	<%= f.file_field :snapcode %>
    <%= f.hidden_field :snapcode_cache %>
  </div>
  
  <div class="field">
	<%= f.label :description, 'Kirjoita itsestäni lyhyt esittely ( 160 merkkiä )' %>
	<%= f.text_area :description %>
	</div>
  <div class="field">
	<%= f.label :tags, "Aihetunnisteet ( erottele pilkulla )" %>
	<%= f.text_field(:tag_list, value: @profile.tag_list.join(","))%>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br>
    <%= f.text_field :instagram %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin %>
  </div>
  <div class="actions">
    <button class="linkbutton"><%= f.submit 'Tallenna'%></button>
  </div>
<% end %>
