<div class="well well-small">
  <div class="pull-right" data-intro="Reset the filter settings to defaults." data-position="bottom">
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
  </div>
  <div class="chardin_box" data-intro="will_paginate's entries info works as expected." data-position="bottom">
    <%= page_entries_info profiles, :model => 'profile' %>
  </div>
  <div class="chardin_box" data-intro="Spinner indicates update." data-position="bottom"></div>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Country</th>
    <th>Registered at</th>
  </tr>
  <% profiles.each do |profile| %>
    <tr>
      <td>
        <%= profile.name %>
      </td>
      <td>
        <%= profile.nickname %>
      </td>
      <td>
        <%= profile.description %>
      </td>
      <td>
        <%= profile.location_name %>
      </td>
      <td>
        <%= profile.created_at.to_date.to_s(:long) %>
      </td>
    </tr>
  <% end %>
</table>
<div class="chardin_box" data-intro="will_paginate's paginator works as expected." data-position="top">
  <%= will_paginate profiles, renderer: BootstrapPagination::Rails %>
</div>
