<%= render "layouts/header" %>

<%= render "layouts/filters" %>
<% if user_signed_in? %>
<% if params[:tag].present?  %>
<% else %>
<section id="ownProfiles">
  	<div class="container-fluid bg-inverse">
    <div class="row">
		<div class="col-xs-12 col-sm-12">
			<div id="noProfileAdded">
				<h1>Omat snapchat profiilit</h1>
				<h2>Lisää oma snapchat tunnuksesi</h2>
				<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
				<h3>Voi lisää useampia profiileita.</h3>
			</div>
		</div>
	</div>
  	</div>
</section>
<% end %>
<% end %>

<section id="profilesFilter">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
			<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
				<%= f.text_field(:search_query) %>
				<%= f.select :with_location_id,@filterrific.select_options[:with_location_id],{ :include_blank => '- Kaikki -' } %>
				<%= f.select :sorted_by,@filterrific.select_options[:sorted_by],{}%>
				<%= link_to('Reset filters',reset_filterrific_url,) %>
				<%= render_filterrific_spinner %>
				<%= f.submit 'Filter' %>
			<% end %>	
			</div>
		</div>
	</div>
</section>

<section id="profilesGrid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
			    <div id="results">
					<%= render :partial => 'profiles/list', :locals => { :profiles => @profiles } %>
				</div>
			</div>
		</div>
	</div>
</section>