<%= render "layouts/topnav" %>

<%= render "layouts/header" %>

<%= render "layouts/filters" %>

<% if user_signed_in? %>
<% if params[:tag].present?  %>
<% else %>
<section id="ownProfiles">
  	<div class="container-fluid bg-inverse">
    <div class="row">
		<div class="col-xs-12 col-sm-12">
			<div id="noProfileAdded">
				<h1>Omat snapchat profiilit</h1>
				<h2>Lisää oma snapchat tunnuksesi</h2>
				<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
				<h3>Voi lisää useampia profiileita.</h3>
			</div>
		</div>
	</div>
  	</div>
</section>
<% end %>
<% end %>
<section id="profilesGrid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
			    <div id="results">
					<%= render :partial => 'layouts/profilecard', :locals => { :profiles => @profiles } %>
				</div>
			</div>
		</div>
	</div>
</section>