<%= render "layouts/header" %>

<%= render "layouts/filters" %>
<% if user_signed_in? %>
<% if params[:tag].present?  %>
<% else %>
<section id="ownProfiles">
  	<div class="container-fluid bg-inverse">
    <div class="row">
		<div class="col-xs-12 col-sm-12">
			<div id="noProfileAdded">
				<h1>Omat snapchat profiilit</h1>
				<h2>Lisää oma snapchat tunnuksesi</h2>
				<%= link_to 'Lisää profiili', new_profile_path, :class => "linkbutton" %>
				<h3>Voi lisää useampia profiileita.</h3>
			</div>
		</div>
	</div>
  	</div>
</section>
<% end %>
<% end %>

<%= form_for_filterrific @filterrific do |f| %>
	
	<%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
    
    <%= f.select :with_location_id,@filterrific.select_options[:with_location_id],{ :include_blank => '- Any -' },{ :class => 'form-control' } %>
	<%= f.text_field:with_created_at_gte,:class =>'js-datepicker form-control' %>
	<%= f.select :sorted_by,@filterrific.select_options[:sorted_by],{},{ :class => 'form-control' } %>

    
    <div id="results">
	<%= render :partial => 'profiles/list', :locals => { :profiles => @profiles } %>
	</div>

<% end %>

