<section id="filterMenu">
	<nav class="navbar">
		<ul class="nav navbar-nav">
			<li class="nav-item filtercontent">Snappaajia: <%= page_entries_info @profiles, :model => 'profile' %> kpl</li>
			<% if user_signed_in? %>
			<li class="nav-item filtercontent"><a href="/myprofiles">Omat profiilit</a></li>
			<% else %>					
			<% end %>
			<span class="pull-sm-right">
			<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
			<li class="nav-item filtercontent">Näytä paikkakunnasta:
				<%= f.select :with_location_id, @filterrific.select_options[:with_location_id], { :include_blank => 'Kaikki' } %>
			</li>
			<li class="nav-item filtercontent">Järjestä:
				<%= f.select :sorted_by, @filterrific.select_options[:sorted_by], { }%>
			</li>
			<li class="nav-item">
				<%= f.submit 'Hae', :class => 'submitfilter' %>
			</li>
			<li class="nav-item">
				<%= link_to "Tyhjennä haku", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
			</li>
			<% end %>
			</span>
		</ul>
	</nav>
</section>

