<% @profiles.each_slice(30).each do |group| %>
<div class="row">
	<% group.each do |profile| %>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="profilesContainer">
			<div class="profilesImage" style="background: url('<%= profile.image.url() %>'); ">
				<% if user_signed_in? %>
					<% if current_user.liked? profile %>
					<div class="profilesLike liked"></div>
					<% else %>
						<%= link_to like_profile_path(profile), method: :put do %>
							<div class="profilesLike unliked"></div>
						<% end %>
					<% end %>
				<% else %>
					<%= link_to like_profile_path(profile), method: :put do %>
						<div class="profilesLike unliked"></div>
					<% end %>
				<% end %>
			</div>
			<div class="profilesDetails">
				<div class="profilesNickName">
					@<%= link_to profile.nickname, profile %>
				</div>
				<div class="profilesRealName">
					<%= profile.name %>
				</div>
				<div class="profileLocation">
					<img src="/images/icons/map.svg"  width="11" height="15"/>
					<a href="?utf8=✓&filterrific%5Bwith_location_id%5D=<%= profile.location.id %>&filterrific%5Bsorted_by%5D=created_at_desc&commit=Hae"><%= profile.location.name %></a>
				</div>
				<div class="profilesDescription">
					<p class="profileAbout"><%= profile.description %></p>
				</div>
			</div>
		</div>	
	</div>
	<% end %>
</div>
<% end %>

<!--
<% @profiles.each_slice(4).each do |group| %>
<div class="row">
	<% group.each do |profile| %>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="profilesContainer">
			<div class="profilesHeader">
				
				<% if profile.image.url.present? %>
					<div class="profilesImage">
						<%= link_to(profile) do %>
							<%= image_tag profile.image.url(), :class => "img-bg" %>
						<% end %>
					</div>
					<% else %>
					<div class="profilesImage noprofileImage">
						<img src="/images/icons/small-snap.svg" class="img-bg no-image" />
					</div>
				<% end %>
									
			</div>
			<div class="profilesContent">
				<div class="profilesSnapCode" 
				style="background-image: url(<%= profile.snapcode.url() %>); 
				background-size: auto 70%; background-position: center; background-repeat: no-repeat;"></div>
				<div class="profilesNickName">
					@<%= link_to profile.nickname, profile %>
					<span class="someLinks">
						<% if profile.facebook.present? %>
						<a  target="_blank" href="https://www.facebook.com/<% if profile.facebook.present? %><%= profile.facebook %><% end %>">
							<img src="/images/icons/facebook-icon.png" alt="facebook-icon" width="16" height="16" />
						</a>
						<% else %>
						<% end %>
						
						<% if profile.twitter.present? %>
						<a target="_blank" href="https://twitter.com/<% if profile.twitter.present?  %><%= profile.twitter %><% end %>">
							<img src="/images/icons/twitter-icon.png" alt="twitter-icon" width="16" height="16" />
						</a>
						<% else %>
						<% end %>
						
						<% if profile.instagram.present? %>	
						<a target="_blank" href="https://instagram.com/<% if profile.instagram.present?  %><%= profile.instagram %><% end %>">
							<img src="/images/icons/instagram-icon.png" alt="instagram-icon" width="16" height="16" />
						</a>
						<% else %>
						<% end %>
						
						<% if profile.linkedin.present? %>
						<a target="_blank" href="<% if profile.linkedin.present?  %><%= profile.linkedin %><% end %>">
							<img src="/images/icons/linkedin-icon.png" alt="linkedin-icon" width="16" height="16" />
						</a>	
						<% else %>
						<% end %>
					</span>
					
				</div>
				<div class="profilesRealName">
					<%= profile.name %>
				</div>
				<div class="profileLocation">
					<a href="?utf8=✓&filterrific%5Bwith_location_id%5D=<%= profile.location.id %>&filterrific%5Bsorted_by%5D=created_at_desc&commit=Hae"><%= profile.location.name %></a>
				</div>
				<div class="profilesDescription">
					<p class="profileAbout"><%= profile.description %></p>
					<%= link_to like_profile_path(profile), method: :put do %>
					  Tykkää
					  <%= profile.get_upvotes.size %>
					<% end %>
				</div>
				
				<% if profile.tags.present? %>
				<div class="profilesTags">
				<span class="profilesTagsAll">Näytä kaikki</span>
				<% profile.tags.each do |tag| %>
					<span class="tags">
						#<%= link_to tag.name, tag_path(tag.name) %>
					</span>  
				<% end %>
				</div>
				<% else %>
				<% end %>
				
				<% if profile.snapcode.url.present? %>
				<div class="profilesSnapCodeScan text-center">
					<img src="/images/icons/camera-icon.png" alt="camera-icon" width="32" height="32" /><br/>
					skannaa snapkoodi
				</div>
				<% else %>
				<% end %>
				
				<% if profile.user == current_user %>
					<div class="userProfiles">
						<%= link_to 'Muokkaa', edit_profile_path(profile) %>
						<%= link_to 'Poista', profile, method: :delete, data: { confirm: 'Oletko varma' } %>
					</div>
				<% end %>
				
			</div>
		</div>
	</div>
	<% end %>
</div>
<% end %>
-->